.navbar {
  @include fxd-position(0px);
  z-index: 1;
  @include box(100%, 10%);
  @include flex(rn, space-between, flex-start);
  @include padding(20px, 200px, null, 20px);
  background-color: $space-cadet;
  color: $eggshell;

  .logo {
    @include padding(5px, null, 5px, null);
    @include border($eggshell, 2px solid, null, 2px solid, null);
  }

  .nav-buttons {
    @include flex(rn);
    align-self: flex-end;

    button {
      @include button($antique-brass);
    }
  }
}
