html {
  @include box(100%);
  background-color: $black-coral;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    width: 0px;
  }

  ::-webkit-scrollbar-thumb {
    width: 0px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @include box(100%);
    font-family: sans-serif;
    overscroll-behavior: none;

    #root {
      @include grid("header, body, footer", 1fr, 100% 1fr 100%);
      @include box(100%);

      .app {
        @include box(100%);

        .header-offset {
          grid-area: header;
          @include box(100%, 10%);
        }

        .profile-card-container {
          grid-area: body;
          background-color: $black-coral;
          @include flex();
          @include padding(50px, null, 90px);
          row-gap: 100px;
          // column-gap: 8px;
        }

        .footer-offset {
          grid-area: footer;
          @include box(100%, 15%);
          background-color: $black-coral;
        }
      }
    }
  }
}
